#input_text {
    border: 2px solid rgb(105, 108, 105);
    width: 680px;
    height: 48px;
}

.btn_criptografar {
    width: 328px;
    height: 67px;
}

.btn_criptografar:hover {
    background-color: #ff0000;
}

.btn_descriptografar {
    width: 328px;
    height: 67px;
}

#result_text {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}