#input_text {
    width: 680px;
    height: 48px;
}

.btn_criptografar {
    width: 328px;
    height: 67px;
}

.btn_criptografar:hover {
    background-color: #ff0000;
}
.btn_descriptografar {
    width: 328px;
    height: 67px;
}

.btn_descriptografar:hover {
    background-color: #0c0606;
}
.result_text{
    display:none;
}